<p id="notice"><%= notice %></p>
<p>ID: <%= @pokemon.id %></p>
<p>Pokemon ID: <%= @pokemon.poke_id %></p>
<p>Name: <%= @pokemon.name %></p>
<p>Base Experience: <%= @pokemon.base_experience %></p>
<p>Height: <%= @pokemon.height %></p>
<p>Weight: <%= @pokemon.weight %></p>
<p>Order: <%= @pokemon.order %></p>
<p>Is Default: <%= @pokemon.is_default %></p>
<tbody>
    <% @pokemon.types.each do |type| %>
      <tr>
        <td>Type(s): <%= type[:name] %></td>
      </tr>
    <% end %>
  </tbody>
<br/>
<br/>

<div><%= link_to 'Back', pokemons_path %></div>
